/* //////////////////////////////  FOOTER  //////////////////////////////// */

/* +++++++++++++ FOOTER GENERAL +++++++++++++++*/

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 400px;
  background-color: #fdcc4f;
}

.footer-display-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  width: 100%;
  height: 150px;
}

.footer-display-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
  width: 100%;
  height: 200px;
}

.footer-display-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
}

.footer-line {
  height: 1px;
  background-color: #fdde8d; 
  width: 90%;
}

/* +++++++++++++ FOOTER SOCIALS +++++++++++++++*/

.footer-socials {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
  width: 400px;
  height: 100%;
}

.footer-socials-title {
  font-weight: bold;
  color: #3d3d3d;
  text-align: right;
  width: 100%;
}

.socials-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  gap: 50px;
}

.socials-icon {
  font-size: 20px;
  color: #3d3d3d
}

/* +++++++++++++ FOOTER NEWSLETTER +++++++++++++++*/

.footer-newsletter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 850px;
  height: 100%;
}

.footer-newsletter-title {
  color: #3d3d3d;
  font-weight: bold;
  width: 350px;
}

.newsletter-search-container {
  display: flex;
  align-items: center;
  background-color: white;
  width: 100%;
  border-radius: 36px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  box-sizing: border-box; 
}

.newsletter-search-bar {
  flex: 1;
  height: 50px;
  width: 70%;
  padding-left: 10px;
  padding-right: 0px; 
  font-size: 16px;
  border: none;
  background: transparent;
  outline: none;
  text-indent: 8px;
  box-sizing: border-box; 
}

.newsletter-search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
}

.newsletter-button {
  height: 36px;
  width: 36px;
  background: transparent;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.newsletter-icon {
  font-size: 18px;
  padding-top: 2px;
  color: #3d3d3d;
}




/* +++++++++++++ FOOTER INFO +++++++++++++++*/

.footer-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 820px;
  height: 100%;
}

.footer-info-alfka {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.footer-info-title {
  color: #3d3d3d;
  margin-bottom: 3px;
  font-weight: bold;
}

.footer-info-text {
  color: #3d3d3d;
  text-align: left;
  font-size: 13px;
  margin-top: 7px;
}

/* +++++++++++++ FOOTER PAYMENTS +++++++++++++++*/

.footer-payments {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 420px;
}


.footer-payments-title {
  color: #3d3d3d;
  font-weight: bold;  
  margin-bottom: 20px; 
}

.payment-images-mbway {
  width: 70px;

}

.payment-images-multibanco {
  width: 35px;
}

.payment-images-visa {
  width: 65px;
  
}

.payment-images-mastercard {
  width: 70px;
}

.payment-images-paypal {
  width: 85px;
}

/* +++++++++++++ FOOTER LEGAL +++++++++++++++*/

.footer-legal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1360px;
}

.footer-legal-text {
  color: #3d3d3d;
  font-size: 13px ;
}






