/* //////////////////////////////  PRODUCTS PAGE GENERAL //////////////////////////////// */

.products-page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 150px;
  margin-left: 100px;
  margin-right: 100px;
}

.products-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-left: 100px;
  margin-right: 100px;
}

/* //////////////////////////////  PRODUCTS HEADER GENERAL //////////////////////////////// */

.products-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

/* +++++++++++++ SEARCH RESULTS +++++++++++++++*/

.search-results {
  font-size: 14px;
  margin-top: 0px;
  margin-left: 5px;
}

.search-number {
  font-weight: bold;
  color: #3d3d3d;
}

.search-line {
  color: #4e4e4e;
}
/* +++++++++++++ ORDER BY +++++++++++++++*/

.order-container {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  position: relative;
}

.order-label {
  font-size: 14px;
  color: #3d3d3d;
}

.order-dropdown {
  width: 170px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  color: #3d3d3d;
  font-size: 14px;
  user-select: none;
  cursor: pointer;
}

.order-dropdown:hover {
  background-color: #f5f5f5;
}

.order-selected {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Roboto, Arial;
  color: #3d3d3d;
  font-size: 14px;
}

.order-selected::after {
  content: "\f107";
  font-family: "Font Awesome 6 Free";
  font-weight: 600;
  font-size: 13px;
  float: right;
  color: #999;
}

.order-options {
  position: absolute;
  top: 100%;
  right: 0;
  width: 194px;
  padding: 0px;
  margin: 0;
  list-style-type: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.order-option {
  padding: 10px 12px;
  font-size: 14px;
  font-family: Roboto, Arial;
  color: #3d3d3d;
  cursor: pointer;
}

.order-option.selected {
  background-color: #f5f5f5
}

.order-options.visible {
  display: block; 
}

.order-option:hover {
  background-color: #f5f5f5;
  color: #3d3d3d;
}


/* //////////////////////////////  FILTERS GENERAL //////////////////////////////// */

.filter-container {
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  height: auto;
  width: 500px;
  margin-right: 30px;
  background-color: white; 
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  overflow: visible; 
}

.filter-content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease;
}

.filter-content.show {
  max-height: 500px;
}


/* ++++ FILTERS DIVIDER ++++ */

.filter-line {
  height: 1px;
  background-color: #e9e9e9; 
  width: 90%;
  margin-left: 15px;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* ++++ FILTERS CHECKBOX ++++ */

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-left: 30px;
  cursor: pointer;
}

.checkbox-container:hover .checkbox-name,
.checkbox-container:hover input[type="checkbox"]  {
  color: black;
  border-color: black;
}

input[type="checkbox"] {
  appearance: none; 
  width: 16px;
  height: 16px;
  border: 1px solid #999999;
  border-radius: 2px;
  cursor: pointer;
}

input[type="checkbox"]:checked::after {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin-top: 2px;
  content: "\f00c";
  font-family: "Font Awesome 6 Free";
  font-weight: 600;
  font-size: 11px;
  color: #3d3d3d;
}

.checkbox-name {
  display: flex;
  font-size: 14px;
  font-weight: 400;
  color: #5a5a5a;
}

/* ++++ FILTERS ARROW SLIDE ++++ */

.filter-arrow {
  font-size: 16px;
  margin-right: 30px;
  transition: transform 0.3s ease;
}

.filter-arrow.rotated {
  transform: rotate(180deg); 
}

.filter-content {
  display: none; 
}

.filter-content.show {
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 2px;
}

.stars-filter-name {
  margin-left: 5px;
}


/* ++++++ FILTERS TYPE, BRAND, WEIGHT, PRICE, COLOR, EFICIENCY, RATING +++++++ */

.type-filter-container, 
.brand-filter-container, 
.weight-filter-container, 
.price-filter-container,
.color-filter-container,
.eficiency-filter-container,
.rating-filter-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 2px;
  margin: 0px;
}

.type-filter-header, 
.brand-filter-header,
.weight-filter-header, 
.price-filter-header,
.color-filter-header,
.eficiency-filter-header,
.rating-filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 100%; 
}


/* +++++++++++++ FILTERS TYPE +++++++++++++++*/

.type-filter-name {
  margin-top: 0px;;
  margin-left: 30px;
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 400;
  font-weight: bold;
  color: #3d3d3d
}

/* +++++++++++++ FILTERS BRAND +++++++++++++++*/

.brand-filter-name {
  margin-top: 0px;
  margin-left: 30px;
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 400;
  font-weight: bold;
  color: #3d3d3d
}

/* +++++++++++++ FILTERS WEIGHT +++++++++++++++*/

.weight-filter-name {
  margin-top: 0px;
  margin-left: 30px;
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 400;
  font-weight: bold;
  color: #3d3d3d
}

/* +++++++++++++ FILTERS PRICE +++++++++++++++*/

.price-filter-name {
  margin-top: 0px;
  margin-left: 30px;
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 400;
  font-weight: bold;
  color: #3d3d3d
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
  margin-left: 0px;
  margin-top: 10px;
}

.price-labels {
  display: flex;
  color: #3d3d3d;
  font-weight: bold;
  font-size: 14px;
  margin-top: 0px;
  width: 85%;
  justify-content: space-between;
}

.range-slider {
  position: relative;
  width: 85%;
  height: 0px; 
}

.range-slider::before {
  content: '';
  position: absolute;
  height: 3px; 
  background: #e9e9e9; 
  border-radius: 2px;
  width: 100%;
  z-index: 1;
}

.range-slider::after {
  content: '';
  position: absolute;
  height: 3px; 
  background: #fdcc4f; 
  border-radius: 2px;
  z-index: 2;
  left: var(--min-percent, 0%); 
  right: calc(100% - var(--max-percent, 100%)); 
}

.price-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 0; 
  background: transparent; 
  position: absolute;
  margin: 0;
  z-index: 3; 
  pointer-events: none; 
}

.price-slider::-webkit-slider-thumb {
  margin-top: 4px;
  -webkit-appearance: none;
  appearance: none;
  width: 5px;
  height: 15px;
  background: #fdcc4f; 
  position: relative;
  pointer-events: auto;
  cursor: pointer;
  z-index: 3;
}

.price-slider::-moz-range-thumb {
  width: 5px;
  height: 15px;
  background: #fdcc4f;
  cursor: pointer;
  position: relative;
  pointer-events: auto;
  z-index: 3;
}

.price-slider::-ms-thumb {
  width: 15px;
  height: 15px;
  background: #fdcc4f;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  pointer-events: auto;
  z-index: 3;
}

/* +++++++++++++ FILTERS COLOR +++++++++++++++*/

.color-filter-name {
  margin-top: 0px;
  margin-left: 30px;
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 400;
  font-weight: bold;
  color: #3d3d3d
}

/* +++++++++++++ FILTERS EFICIENCY +++++++++++++++*/

.eficiency-filter-name {
  margin-top: 0px;
  margin-left: 30px;
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 400;
  font-weight: bold;
  color: #3d3d3d
}

/* +++++++++++++ FILTERS RATING +++++++++++++++*/

.rating-filter-name {
  margin-top: 0px;
  margin-left: 30px;
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 400;
  font-weight: bold;
  color: #3d3d3d
}

/* ///////////////////////////////  PRODUCTS GENERAL //////////////////////////////// */

.products-selection-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-left: 50px;
}


/* +++++++++++++ PRODUCTS GRID +++++++++++++++*/

.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  width: 100%;
  column-gap: 60px;
  row-gap: 30px;
  margin-right: 45px;
  justify-items: center;
}

.product-preview {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  width: 100%; 
  height: 350px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
}

.product-preview:hover {
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s ease-in-out;
}

/* +++++++++++++ PRODUCTS IMAGE +++++++++++++++*/

.product-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 100%;
  height: 200px;
}

.product-image {
  width: 85%;
  height: 85%;
  display: center;
  object-fit: contain; 
  transition: transform 0.4s ease-in-out;
}

.discount-tag {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 15px;
  left: 0px;
  padding: 8px 15px;
  font-size: 15px;
  font-weight: bold;
  background-color: #fdcc4f; /* Cor do fundo do desconto */
  color: black; /* Cor do texto */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra */
}

.eficiency-tag {
  position: absolute;
  width: 40px;
  bottom: 139px;
  right: 30px;
  
}

/* +++++++++++++ PRODUCTS RATING +++++++++++++++*/

.rating-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 20px;
  margin-top: 10px
}

.star-pack {
  display: flex;
  align-items: center;
  font-size: 13px;
  color:rgb(230, 230, 230);
}

.star-full,
.star-half {
  color: #fdcc4f;
}

.star-empty {
  color: rgb(230, 230, 230);
}

.rating-count {
  font-size: 13px;
  color: #555;
  margin-left: 5px;
}

/* +++++++++++++ PRODUCTS NAME +++++++++++++++*/

.product-name-container {
  position: block;
  display: -webkit-box; 
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical; 
  overflow: hidden;
  text-align: left; 
  font-weight: 600;
  height: 50px;
  width: 100%;
  font-size: 14px;
  margin-top: 15px;
  padding: 0px;
}

/* +++++++++++++ PRODUCTS PRICE AND FAVORITE+++++++++++++++*/

.price-favorite-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: 55px;
}

/* +++++++++++++ PRODUCTS PRICE +++++++++++++++*/

.all-price-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 40px;
  width: 100px;
  margin-top: 15px;
}

.product-price-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
  background-color: white;
  color: #fdcc4f;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.product-discount-price-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  font-style: italic;
  text-decoration: line-through;
  font-size: 12px;
  background-color: white;
  color: rgb(119, 119, 119);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.product-pvp-price-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  font-style: italic;
  font-size: 11px;
  background-color: white;
  color: rgb(119, 119, 119);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); 
  
}

/* +++++++++++++ PRODUCTS FAVORITE / CART +++++++++++++++*/

.product-favorite-cart-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  width: 60px;
}

/* ++++++++ FAVORITE ++++++++++ */

.product-favorite-button {
  background-color: transparent;
  border: none;
  margin-top: 33px;
  cursor: pointer;
}

.product-favorite-icon {
  font-size: 18px;
  padding-top: 0px;
  color: #3d3d3d;
  transition: transform 0.4s ease-in-out;
}

.product-favorite-icon:hover {
  color: red;
  transition: transform 0.4s ease-in-out;
}

/* ++++++++ CART ++++++++++ */

.product-cart-button {
  background-color: transparent;
  border: none;
  margin-top: 33px;
  cursor: pointer;
}

.product-cart-icon {
  font-size: 18px;
  padding-top: 0px;
  color: #3d3d3d;
}

.product-cart-icon:hover {
  color: rgb(47, 194, 47);
  transition: transform 0.4s ease-in-out;
}

/* +++++++++++++ PRODUCTS PAGINATOR +++++++++++++++*/

.products-paginator-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 30px;
}

.pagination-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: rgb(247, 247, 247);
  color: #3d3d3d;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 18px;
  font-size: 14px;
}

.pagination-button.active {
  background-color: #fdcc4f;
  color: #3d3d3d;
}

.pagination-button-previous.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination-button-previous,
.pagination-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: rgb(247, 247, 247);
  color: #3d3d3d;
  padding: 10px;
  cursor: pointer;
  border-radius: 18px;
  font-size: 10px;
}

.pagination-button:hover,
.pagination-button-previous:hover,
.pagination-button-next:hover {
  background-color: #ededed;
}

.pagination-button.active:hover {
  background-color: #fdcc4f; 
  cursor: pointer; 
}

.pagination-dots {
  padding: 8px 12px;
  font-size: 14px;
  color: #3d3d3d;
}

/* //////////////////////////////  BEST SELLER  //////////////////////////////// */

/* ++++++++ BEST SELLER TITLE ++++++++++ */

.best-seller-title {
  margin-top: 80px;
  margin-left: 120px;
  font-size: 25px;
  color: #3d3d3d;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

/* ++++++++ BEST SELLER GENERAL ++++++++++ */

.best-seller-products-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 10px 10px 20px 10px;
  padding-bottom: 20px;
  height: 290px;
  background: transparent;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

/* ++++++++ BEST SELLER PRODUCTS PREVIEW ++++++++++ */

.best-seller-preview {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  width: 200px; 
  height: 250px;
  border-radius: 15px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.061);
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
}

.best-seller-preview:hover {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.105);
  transition: transform 0.4s ease-in-out;
}


/* +++++++++++++ BEST SELLER PRODUCTS IMAGE +++++++++++++++*/

.best-seller-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 100%;
  height: 150px;
}

.best-seller-image {
  width: 100%;
  height: 100%;
  display: center;
  object-fit: contain; 
  transition: transform 0.4s ease-in-out;
}

/* +++++++++++++ BEST SELLER PRODUCTS DISCOUNT TAG +++++++++++++++*/

.best-seller-discount-tag {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 15px;
  left: 0px;
  padding: 8px 15px;
  font-size: 15px;
  font-weight: bold;
  background-color: #fdcc4f; /* Cor do fundo do desconto */
  color: black; /* Cor do texto */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra */
}


/* +++++++++++++ BEST SELLER PRODUCTS NAME +++++++++++++++*/

.best-seller-name-container {
  position: block;
  display: -webkit-box; 
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical; 
  overflow: hidden;
  text-align: center; /* Centraliza horizontalmente */
  font-weight: 600;
  height: 60px;
  width: 100%;
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 0px;
  padding: 0px;
}


/* +++++++++++++ BEST SELLER PRODUCTS PRICE +++++++++++++++*/

.best-seller-all-price-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 40px;
  width: 100px;
}

.best-seller-price-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 25px;
  margin-top: 0px;
  font-weight: bold;
  font-style: italic;
  background-color: white;
  color: #fdcc4f;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* Adiciona sombra ao texto */
}

.best-seller-discount-price-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 5px;
  font-style: italic;
  text-decoration: line-through;
  font-size: 12px;
  background-color: white;
  color: rgb(119, 119, 119);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); /* Adiciona sombra ao texto */
}

.best-seller-pvp-price-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 5px;
  font-style: italic;
  font-size: 1px;
  background-color: white;
  color: rgb(119, 119, 119);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); /* Adiciona sombra ao texto */
}


/* +++++++++++++ BEST SELLER PRODUCTS SLIDER +++++++++++++++*/

.best-seller-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 390px;
  min-width: fit-content;
}

.best-seller-products-container::-webkit-scrollbar {
  height: 7px;
}

.best-seller-products-container::-webkit-scrollbar-track {
  background: #fdcc4f38;
  border-radius: 10px;
  margin: 0px 10px 0px 10px;
}

.best-seller-products-container::-webkit-scrollbar-thumb {
  background: #fdcc4f;
  border-radius: 10px;
  border: 2px solid transparent;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); 
}

.best-seller-products-container::-webkit-scrollbar-thumb:hover {
  background: #f7be62;
  cursor: grab;
}

/* //////////////////////////////  POP UPS  //////////////////////////////// */

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 300px;
  position: relative;
}

.success-icon {
  font-size: 40px;
  color: green;
  margin-bottom: 10px;
}

.error-icon {
  font-size: 40px;
  color: red;
  margin-bottom: 10px;
}

.popup-content p {
  margin: 10px 0 20px;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.popup-content button {
  background-color: #fdcb50;
  color: #3d3d3d;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.popup-content button:hover {
  background-color: #f7be62;
}

.error-label {
  color: red;
  font-family: "Lato";
  font-size: 14px;
  margin-top: 1px;
  display: block;
  font-family: Arial, sans-serif;
}

.popup-close-button {
  background: none;
  border: none;
  font-size: 1.2em;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
/* //////////////////////////////  FOOTER  //////////////////////////////// */

.footer-container {
  margin-top: 100px;
}










